<!DOCTYPE html>
<html lang="en">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--====== Title ======-->
	<title> || Contact Us || </title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="assets/img/favicon.png" type="img/png" />
	<!--====== Animate Css ======-->
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<!--====== Flaticon css ======-->
	<link rel="stylesheet" href="assets/css/flaticon.css" />
	<!--====== Magnific Popup css ======-->
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />
	<!--====== Slick  css ======-->
	<link rel="stylesheet" href="assets/css/slick.css" />
	<!--====== Jquery ui ======-->
	<link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
	<!--====== Style css ======-->
	<link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
	
	<!--====== Header part start ======-->
	<header class="sticky-header">
		<!-- Header Menu  -->
		<div class="header-nav">
			<div class="container">
				<div class="nav-container">
					<!-- Site Logo -->
					<div class="site-logo">
						<a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a>
					</div>

					<!-- Main Menu -->
					<div class="nav-menu d-lg-flex align-items-right">

						<!-- Navbar Close Icon -->
						<div class="navbar-close">
							<div class="cross-wrap"><span></span><span></span></div>
						</div>

						<!-- Mneu Items -->
						<div class="menu-items">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#"> Contact Us </a></li>
							</ul>

						</div>
						<!-- Pushed Item -->
						<div class="nav-pushed-item"></div>
					</div>

					<!-- Navbar Extra  -->
					<div class="navbar-extra d-lg-block d-flex align-items-center">
						
						<div class="navbar-btn nav-push-item">
							<a class="main-btn main-btn-3" href="#"> <span class="rupees-icon"> <img src="assets/img/rupees.png"> </span> Donate </a>
						</div>
						
						<div class="navbar-toggler">
							<span></span><span></span><span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--====== Header part end ======-->

	<!--====== Banner part start ======-->
	<section class="banner-section-inner" style="background:url(assets/img/banner.jpg);">
		<div class="banner-slider"> <!-- id="bannerSlider" -->
			<div class="single-banner">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-6">
							<div class="banner-content">
								<!-- <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
									Stop Being a Fantasy Player
								</span> -->
								
								
							</div>
						</div>

					</div>
				</div>

			</div>
			
		</div>

		
	</section>
	<!--====== Banner part end ======-->

	<!--====== Feature Part start ======-->
	<section class="section-gap">
		<div class="container">
			
			<!-- Feature boxes -->
			<div class="feature-boxes row justify-content-center">
				<div class="col-lg-10 col-md-6 col-10 col-tiny-12 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
				  <div class="contact-form">
				  	<h3 class="mb-4"> Drop your Message Here. </h3> 
				  	<form>
					 <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="Name">
					    </div>
					    <div class="col">
					      <input type="email" class="form-control" placeholder="Email address">
					    </div>
					 </div>
					 <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="Subject">
					    </div>
					    <div class="col">
					      <input type="tel" class="form-control" placeholder="Phone Number">
					    </div>
					 </div>
					 <div class="row">
					    <div class="col">
					      <textarea class="form-control" placeholder="Message" rows="3"></textarea>
					    </div>
					    
					 </div>
					 <div class="row">
					   <div class="col">
					    <button type="submit" class="btn btn-primary"> Send <span class="btn-icon"> <i class="fas fa-paper-plane"></i> </span>  </button>
					   </div>
				     </div>
				   </form>
				  </div>
				</div>

				
			</div>
		</div>
	</section>
	<!--====== Feature Part end ======-->

	<!--====== Footer Part Start ======-->
	<footer>
		<div class="container">
			<div class="footer-widget">
				<div class="row">
					<div class="col-lg-4 col-sm-4 text-left">
						<div class="widget site-info-widget">
							<div class="footer-logo">
							  <a href="#"> <img src="assets/img/logo.png" alt="images"> </a>
							</div>
							<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							
							<div class="socail-box">
								<h4> Follow us </h4>
								<ul class="social-links">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							  </ul>
							</div>
						</div>

					</div>
					<div class="col-lg-4 col-sm-4 text-left">

							<div class="footer-menu-vartical"> 
							  <h4> Quick links </h4>
							  <ul>
							  	<li> <a href="#"> Home </a> </li>
							  	<li> <a href="#"> About Us </a> </li>
							  	<li> <a href="#"> Contact Us </a> </li>
							  	<li> <a href="#"> Privacy Policy </a> </li>
							  	<li> <a href="#"> Terms of Service </a> </li>
							  	<li> <a href="#"> Support </a> </li>

							  </ul>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 text-left">
							<div class="contact-info">
								<h4> Contact us </h4>
								<div class="contact-details">
								  <ul>
								  	 <li>
								  	  <span class="contact-label"> Email Id: </span>
								  	  <a href="#"> emailaddress@mail.com </a> 
								  	 </li>
								  	 <li>
								  	  <span class="contact-label"> Phone Number: </span>
								  	  <a href="#"> +91 0000000000 </a> 
								  	 </li>
								  </ul>
								</div>
								<div class="map">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7447680.001556246!2d82.55187453521718!3d24.292007054386634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fa16ff1397e887%3A0x71543a3dc3e7a20a!2sWest%20Bengal!5e0!3m2!1sen!2sin!4v1726321583120!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="footer-copyright">
				<p class="copyright-text">
					© 2024. All rights reserved.
				</p>
			</div>
		</div>

    <div class="donate-bottom">
	  <a href="#">  <img src="assets/img/rupees.png"> </a>
	</div>

	</footer>
	<!--====== Footer Part end ======-->

	

	<!--====== jquery js ======-->
	<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<!--====== Slick js ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Jquery Ui ======-->
	<script src="assets/js/jquery-ui.min.js"></script>
	<!--====== Wow JS ======-->
	<script src="assets/js/wow.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>
</body>

</html>