{% extends "layout.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<!--====== Feature Part start ======-->
<section class="section-gap">
	<div class="container">

		<!-- Feature boxes -->
		<div class="feature-boxes row justify-content-center">
			<div class="col-lg-10 col-md-6 col-10 col-tiny-12 wow fadeInLeft" data-wow-duration="1500ms"
				data-wow-delay="400ms">
				<div class="contact-form">
					<h3 class="mb-4"> Drop your Message Here. </h3>
					<form action="/contact_us" method="post">{% csrf_token %}
						<div class="row">
							<div class="col">
								<input type="text" name="person_name" id="person_nam" placeholder="Enter your name"
									class="form-control" required>
							</div>
							<div class="col">
								<input type="tel" name="phone_number" id="phone_number"
									placeholder="Enter your phone number" class="form-control">
							</div>
						</div>
					<!--<div class="row">
					    	<div class="col">
					    		  <input type="text" class="form-control" placeholder="Subject">
						    </div>
					 	</div> -->
						<div class="row">
							<div class="col">
								<textarea class="form-control" placeholder="Message" rows="3"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-primary"> Send <span class="btn-icon"> <i
											class="fas fa-paper-plane"></i> </span> </button>
							</div>
						</div>
					</form>
				</div>
			</div>


		</div>
	</div>
</section>
<!--====== Feature Part end ======-->
{% endblock %}